<div class="navbar" [class.expanded]="isExpanded">
  <div class="toggle-btn" (click)="toggleNavbar()">
    <span *ngIf="!isExpanded">&#9776;</span> <!-- Hamburger Icon -->
    <span *ngIf="isExpanded">&#10006;</span> <!-- Close Icon -->
  </div>
  <ul>
    <li><a routerLink="/home" routerLinkActive="active"><i class="fa fa-home"></i><span class="link-text">Home</span></a></li>
    <li *ngIf="!(authService.loggedIn$ | async)"><a routerLink="/login" routerLinkActive="active"><i class="fa fa-sign-in"></i><span class="link-text">Login</span></a></li>
    <li *ngIf="!(authService.loggedIn$ | async)"><a routerLink="/register" routerLinkActive="active"><i class="fa fa-user-plus"></i><span class="link-text">Register</span></a></li>
    <li *ngIf="authService.loggedIn$ | async"><a routerLink="/browse" routerLinkActive="active"><i class="fa fa-search"></i><span class="link-text">Browse</span></a></li>
    <li *ngIf="authService.loggedIn$ | async"><a routerLink="/movies-rated" routerLinkActive="active"><i class="fa fa-star"></i><span class="link-text">Movies Rated</span></a></li>
    <li *ngIf="authService.loggedIn$ | async"><a (click)="logout()"><i class="fa fa-sign-out"></i><span class="link-text">Logout</span></a></li>
  </ul>
</div>

<!-- Content Section -->
<div class="content">
  <h1 [class.home-page]="isHomePage">Streamify</h1>
  <router-outlet></router-outlet>
</div>
