/* Center the content vertically and horizontally */
.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    text-align: center;
  }
  
  /* Streamify Logo Styling */
  .logo {
    font-size: 4rem; /* Large font size for the logo */
    font-weight: bold;
    color: rgb(65, 65, 65);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); /* Add a subtle shadow */
    margin-bottom: 20px; /* Space below the logo */
    padding: 15px;
  }
  
  /* Tagline Styling */
  .tagline {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
  }
  
  /* Description Styling */
  .description {
    font-size: 1rem;
    color: white;
  }
  